Climbing onto a Large+ Creature
* Attempt to grapple the huge+ creature as you normally would. On a success, you move into their space (treating the area as difficult terrain)
* Smart positioning will generally give the creature you're riding disadvantage on attacks against you - up to some discretion (i.e. riding a scorpion's tail vs standing on it's back). 
